<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57656144146-4v4pn4a8oef77fub9toat654nppvibl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57656144146-4v4pn4a8oef77fub9toat654nppvibl9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbq9BmQfqSS2ndEQwFNDmccbxt0Bu9JJw</string>
	<key>GCM_SENDER_ID</key>
	<string>57656144146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petshopAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>petshop-app-f845c</string>
	<key>STORAGE_BUCKET</key>
	<string>petshop-app-f845c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57656144146:ios:1a54959d19665ac15d83cb</string>
</dict>
</plist>